<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido, {{ user }}!</h1>
    </header>
    <div class="welcome-container">
        <img src="static/imagenes/logo.png" alt="centered image" height="258" width="300">
        <p>Has iniciado sesión correctamente.</p>
        <a class="logout-link" href="{{ url_for('logout') }}">Cerrar Sesión</a>
    </div>
</body>
</html>
